# yaml-language-server: $schema=https://json.schemastore.org/github-workflow

name: React CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test

      - name: Build React App
        run: npm run build

      - name: Display build folder contents
        run: |
          echo "pwd: $(pwd)"
          ls -la
          ls -la dist || echo "dist missing"
          ls -la build || echo "build missing"

      - name: Upload production build
        uses: actions/upload-artifact@v4
        with:
          name: react-build
          path: dist/
